{% extends "includes/base.html" %}
{% block title %} Мои подписки {% endblock %}
{% block header %} Рецепты {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href={% static "pages/myFollow.css"%}>
{% endblock css %}
{% block tags %}
{% include "includes/tags.html" with tags=tags %}
{% endblock %}
{% block content %}
<div class="card-list">
  {% for author in page %}
  {% include "includes/authorCard.html" with author=author.author %}
  {% endfor %}
</div>
{% if page.has_other_pages %}
{% include "includes/paginator.html" with items=page paginator=paginator%}
{% endif %}
{% endblock %}
{% block script %}
<script src={% static "./js/config/config.js" %} ></script>
<script src={% static "./js/components/MainCards.js" %} ></script>
<script src={% static "./js/components/MyFollow.js" %} ></script>
<script src={% static "./js/components/Subscribe.js" %} ></script>
<script src={% static "./js/components/Header.js" %} ></script>
<script src={% static "./js/api/Api.js" %} ></script>
<script src={% static "myFollow.js" %} ></script>
{% endblock %}