{% extends "includes/base.html" %}
{% block title %} Пароль изменён {% endblock %}
{% block header %} Ссылка на восстановление пароля отправлена {% endblock %}
{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" href={% static "pages/index.css"%}>
{% endblock css %}
{% csrf_token %}
<div class="form-container"
    <form class="form" method="get" action="{% url 'index' %}">
        <div class="custom-center-block">
                <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля. </p>
            <div class="custom-button-block">
                <button class="button button_style_blue" type="submit">Перейти на главную</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
   