{% extends "includes/base.html" %}
{% block title %} Сброс пароля {% endblock %}
{% block header %} Сброс пароля {% endblock %}
{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" href={% static "pages/form.css"%}>
{% endblock css %}
{% load user_filters %}
    <div class="form-container">
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__group">
            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
            <div class="form__field-group">
                {{ form.field|addclass:"form__input" }}
                <span class="form__error">{{ field.errors }}</span>
            </div>
        </div>
        {% endfor %}
    <div class="form__footer">
        <button class="button button_style_blue">Восстановить пароль</button>
    </div>
</form>
</div>
{% endblock %}