{% extends "includes/base.html" %}
{% block title %} Сброс пароля {% endblock %}
{% block header %} Сброс пароля {% endblock %}
{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" href={% static "pages/form.css"%}>
{% endblock css %}
<div class="form-container"
   <div class="custom-center-block">
    <p class="custom-text-block">Ваш пароль сброшен!</p>
    <div class="custom-button-block">
        <a class="button button_style_blue" href="{% url 'login' %}"> Войти </a>
    </div>
</div>
</div>
{% endblock %}
   