{% extends "includes/base.html" %}
{% block title %} Выход {% endblock %}
{% block header %} Вы вышли из системы {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href={% static "pages/form.css"%}>
{% endblock css %}
{% block content %}
    <div class="custom-center-block">
            <p class="custom-text-block">Вы вышли из своей учётной записи. Ждём вас снова! </p>
        <div class="custom-button-block">
            <button class="button button_style_blue">Перейти на главную</button>
        </div>
    </div>
{% endblock %}
   